*.scssc
*.pyc
development.py
twitter_puppet_ui/bin/*
twitter_puppet_ui/lib/*
twitter_puppet_ui/include/*
twitter_puppet_ui/.Python
.venv
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.orig
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.DS_Store
.Trash
var
deploys/*
*.sqlite
*.db
*.log
develop
.idea
.project
.pydevproject
*.zip
.settings/
wiki/
export/
*.sublime-*
.sass-cache/
.venv
*.scssc
simplified_main.css
development-old.py
*.pyc
*.swp
node_modules/*
